<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find My Fine</title>
</head>
<body>

<button><a  href="/findmywine">Home</a></button>
<button><a  href="/findmywine/contact">Contact</a></button>

<form th:method="post" th:action="@{'/findmywine/region'}">
    <input type="text" id="region" name="region" placeholder="Stavi region">
    <input type="submit">
</form>

<form th:method="post" th:action="@{'/findmywine/search'}">
    <input type="search" id="name" name="name" placeholder="Search by name">
</form>

</body>
</html>